<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Libre Barcode 128 Text' rel='stylesheet'>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@300;400;500&display=swap"
        rel="stylesheet">
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <title>Document</title>
    <style>
        body {
            margin: 30px;
            padding: 0;
            font-size: 18px;
            /* font-family: "Poppins"; */
            font-family: 'Montserrat', sans-serif;
        }

        :is(h1, h2, h3, h4, h5, h6) {
            margin: 0;
            line-height: 2;
        }

        p {
            font-weight: 500;
            font-size: 17px;
            line-height: 2.5;
            margin: 0;
        }

        h5 {
            font-size: 17px;
        }

        header {
            margin-top: 30px;
            text-align: center;
        }

        section {
            margin-bottom: 1.2rem;
        }

        .Libre-barcode {
            font-family: 'Libre Barcode 128 Text';
            font-size: 30px;
            line-height: 1.5;
        }

        .tuc-customer-details {
            width: 65%;
        }

        .tuc-tracking-number {
            width: 35%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        table thead tr td {
            font-weight: 600;
        }

        table tbody tr td {
            font-weight: 500;
        }

        table thead tr td:first-child,
        table tbody tr td:first-child {
            padding-left: 0;
        }

        table thead tr td:last-child,
        table tbody tr td:last-child {
            padding-right: 0;
        }

        table thead tr td,
        table tbody tr td {
            padding: 1rem;
        }

        .tuc-sign-section h4 span {
            font-weight: 400;
        }

        .tuc-sign-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    </style>
</head>

<body>
    <main>
        <header>
            <img alt="tuc-logo" width="130px" src="https://points.wakanow.com/assets/img/wakanow-logo.png" />
        </header>
        <section style="margin-bottom: 2rem;">
            <h3>SALES INVOICE</h3>
            <div style="width: 100%; display:flex;">
                <div class="tuc-customer-details">
                    <h4>CUSTOMER DETAILS</h4>
                    <p>{{customername}} </p>
                    <p style="width:45%">{{customeraddress}} </p>
                </div>
                <div class="tuc-tracking-number">
                    <h4>TRACKING NUMBER</h4>
                    <span class="Libre-barcode">{{trackingnumber}}</span>
                </div>
            </div>
        </section>
        <section style="margin-bottom: 2rem;">
            <h4>ORDER SUMMARY</h4>
            <p>Order Number <span style="margin-left: 10%;">&nbsp; &nbsp; &nbsp;{{ordernumber}}</span></p>
            <p>Payable Amount <span style="margin-left: 10%;"> ₦ {{payableamount}}</span></p>
        </section>
        <section>
            <h5>Dear {{firstname}} {{lastname}}</h5>
            <p style="line-height: 1.5;">ThankU for shopping with ThankUCash, Africa's largest loyalty platform. We are super grateful to have you
                as a
                customer. We have other amazing deals and discounts on our platform. </p>
        </section>
        <section>
            <h5>Return Policy</h5>
            <p style="line-height: 1.5;">You can return all eligible item(s) within 7 days if the products differ from what was advertised or are
                of inferior
                quality. However, the customer is responsible for the payment of the shipping return.</p>
        </section>
        <section>
            <h5>Not satisfied? </h5>
            <p>Give our support team a call or send a Whatsapp message to +234 813 317 8563. We would love to hear from
                you.</p>
            <p>ThankU again for shopping with us.</p>
            <p>Yours Sincerely, </p>
            <p>ThankUCash Team</p>
        </section>

        <section>
            <h2>ORDER DETAILS</h2>
            <table>
                <thead>
					<tr>
                        <td style="width: 10%;">Item NO</td>
                        <td style="width: 30%;">Product Name</td>
						<td style="width: 13%;">Seller SKU</td>
                        <td style="width: 12%;">Shop SKU</td>
                        <td style="width: 15%;">Item Price</td>
                        <td style="width: 20%;">Total (Incl. shipping fee)</td>
                    </tr>	
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>{{productname}}</td>
                        <td>{{sellersku}} </td>
                        <td>{{shopsku}}</td>
                        <td>{{itemprice}}</td>
                        <td>{{total}}</td>
                    </tr>
                </tbody>
            </table>
            <div style="    width: 100%;
            height: 14px;
            border-bottom: 2px dashed black;
            text-align: center;
            margin: 0.6rem 0 1.4rem;">
                <span style="font-size: 10px;
                background-color: #fff;
                padding: 0 10px;
                font-weight: 500;">
                    cut here after you have returned your item
                </span>
            </div>

            <section class="tuc-sign-section">
                <h4>RETRIEVING TRACKING ORDER</h4>
                <p>Retrieved by: ____________________</p>
                <p>Sign & Date: ____________________</p>
            </section>
            <div class="tuc-sign-section">
                <h4>ORDER DETAILS &nbsp;<span class="Libre-barcode">{{trackingnumber}}</span></h4>

                <p style="display: flex;">To return scan the QR code: &nbsp;<span id="qrcode-2"></span></p>
            </div>
            <table>
                <thead>
				<tr>
                        <td style="width: 10%;">Item NO</td>
                        <td style="width: 40%;">Product Name</td>
                        <td style="width: 15%;">Item Price</td>
                        <td style="width: 23%;">Total (Incl. shipping fee)</td>
						<td style="width: 12%;">Please Tick</td>
                    </tr>	
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>{{productname}}</td>
                        <td>{{itemprice}}</td>
                        <td>{{total}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </section>

    </main>
</body>
<script>
 var qrcode = new QRCode(document.getElementById("qrcode-2"), {
	text: "{{returnqrcode}}", // <--- here is dynamic value
	width: 50,
	height: 50,
	colorDark : "#000000",
	colorLight : "#ffffff",
	correctLevel : QRCode.CorrectLevel.H
});

</script>

</html>